


	a{
			color: #383838;
		}


		.top-bar{
			height: 40px;
		}
		header .top-bar .container div{
			line-height: 40px;
			height: 40px;
			text-align: center;
		}

		header .top-bar .container div{
			border-left: 1px solid #8B8B8B;
		}
		header .top-bar .container div:first-child{
			border-left: 1px solid white;
		}

		header .nav-bar{
			height: 70px;
		}
		header .phone-link:hover img{
			display: block;
			position: absolute;
			left: 50%;
			margin-left:-60px;

		}
		header .phone-link img{
			display: none;
			z-index: 10
		}

		@font-face{
			font-family: "wejinsuo";
			src:url("../fonts/MiFie-Web-Font.eot") format("embedden"),
			url("../fonts/MiFie-Web-Font.svg") format("SVG"),
			url("../fonts/MiFie-Web-Font.ttf") format("truetype"),
			url("../fonts/MiFie-Web-Font.woff") format("woff");
		}

		[class^="icon-"],[class*="  icon-"]{
			font-family: wejinsuo;
		}



		.btn-haha { 
		  color: #FFFFFF; 
		  background-color: #7E4EBD; 
		  border-color: #CFCFCF; 
		} 
		 
		.btn-haha:hover, 
		.btn-haha:focus, 
		.btn-haha:active, 
		.btn-haha.active, 
		.open .dropdown-toggle.btn-haha { 
		  color: #FFFFFF; 
		  background-color: #634F7D; 
		  border-color: #CFCFCF; 
		} 
		 
		.btn-haha:active, 
		.btn-haha.active, 
		.open .dropdown-toggle.btn-haha { 
		  background-image: none; 
		} 
		 
		.btn-haha.disabled, 
		.btn-haha[disabled], 
		fieldset[disabled] .btn-haha, 
		.btn-haha.disabled:hover, 
		.btn-haha[disabled]:hover, 
		fieldset[disabled] .btn-haha:hover, 
		.btn-haha.disabled:focus, 
		.btn-haha[disabled]:focus, 
		fieldset[disabled] .btn-haha:focus, 
		.btn-haha.disabled:active, 
		.btn-haha[disabled]:active, 
		fieldset[disabled] .btn-haha:active, 
		.btn-haha.disabled.active, 
		.btn-haha[disabled].active, 
		fieldset[disabled] .btn-haha.active { 
		  background-color: #7E4EBD; 
		  border-color: #CFCFCF; 
		} 
		 
		.btn-haha .badge { 
		  color: #7E4EBD; 
		  background-color: #FFFFFF; 
		}





/*ÃƒÆ’Ã‚Â¤Ãƒâ€šÃ‚Â¸ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â¹ÃƒÆ’Ã‚Â©Ãƒâ€šÃ‚ÂÃƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¨ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â¡Ãƒâ€šÃ‚ÂªÃƒÆ’Ã‚Â¥Ãƒâ€šÃ‚Â·Ãƒâ€šÃ‚Â±ÃƒÆ’Ã‚Â¥ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â ÃƒÂ¢Ã¢â‚¬Å¾Ã‚Â¢ÃƒÆ’Ã‚Â¤Ãƒâ€šÃ‚ÂºÃƒÂ¢Ã¢â€šÂ¬Ã‚Â ÃƒÆ’Ã‚Â¤Ãƒâ€šÃ‚Â¸ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬ÃƒÆ’Ã‚Â¤Ãƒâ€šÃ‚Â¸Ãƒâ€šÃ‚Âªnavbar-whiteÃƒÆ’Ã‚Â§Ãƒâ€¦Ã‚Â¡ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¾classÃƒÆ’Ã‚Â¦Ãƒâ€šÃ‚Â Ãƒâ€šÃ‚Â·ÃƒÆ’Ã‚Â¥Ãƒâ€šÃ‚Â¼Ãƒâ€šÃ‚Â*/
		.navbar-white {
		  background-color: white;
		  border-bottom: solid 1px #DEDEDE;
		}
		.navbar-white .navbar-brand {
		  color: #272727;
		}
		.navbar-white .navbar-brand i{
			position: relative;
			top: 10px;
		}
		.navbar-white .navbar-brand:hover,
		.navbar-white .navbar-brand:focus {
		  color: #000000;
		  background-color: transparent;
		}
		.navbar-white .navbar-text {
		  color: #272727;
		}
		.navbar-white .navbar-nav > li > a {
		  color: #272727;
		}
		.navbar-white .navbar-nav > li > a:hover,
		.navbar-white .navbar-nav > li > a:focus {
		  color: #000000;
		  background-color: transparent;
		  border-bottom: 2px solid red;
		}
		.navbar-white .navbar-nav > .active > a,
		.navbar-white .navbar-nav > .active > a:hover,
		.navbar-white .navbar-nav > .active > a:focus {
		  color: #000000;
		  background-color: transparent;
		  border-bottom: 2px solid red;
		}
		.navbar-white .navbar-nav > .disabled > a,
		.navbar-white .navbar-nav > .disabled > a:hover,
		.navbar-white .navbar-nav > .disabled > a:focus {
		  color: #444;
		  background-color: transparent;
		}
		.navbar-white .navbar-toggle {
		  border-color: #333;
		  margin-top: 20px;
		  margin-right: 20px;
		}
		.navbar-white .navbar-toggle:hover,
		.navbar-white .navbar-toggle:focus {
		  background-color:#EEEEEE;
		}
		.navbar-white .navbar-toggle .icon-bar {
		  background-color: #000000;
		}
		.navbar-white .navbar-collapse,
		.navbar-white .navbar-form {
		  border-color: #e7e7e7;
		}
		.navbar-white .navbar-nav > .open > a,
		.navbar-white .navbar-nav > .open > a:hover,
		.navbar-white .navbar-nav > .open > a:focus {
		  color: #000000;
		  background-color: #080808;
		}
		@media (max-width: 767px) {
		  .navbar-white .navbar-nav .open .dropdown-menu > .dropdown-header {
		    border-color: #080808;
		  }
		  .navbar-white .navbar-nav .open .dropdown-menu .divider {
		    background-color: #080808;
		  }
		  .navbar-white .navbar-nav .open .dropdown-menu > li > a {
		    color: #9d9d9d;
		  }
		  .navbar-white .navbar-nav .open .dropdown-menu > li > a:hover,
		  .navbar-white .navbar-nav .open .dropdown-menu > li > a:focus {
		    color: #000000;
		    background-color: transparent;
		  }
		  .navbar-white .navbar-nav .open .dropdown-menu > .active > a,
		  .navbar-white .navbar-nav .open .dropdown-menu > .active > a:hover,
		  .navbar-white .navbar-nav .open .dropdown-menu > .active > a:focus {
		    color: #000000;
		    background-color: #080808;
		  }
		  .navbar-white .navbar-nav .open .dropdown-menu > .disabled > a,
		  .navbar-white .navbar-nav .open .dropdown-menu > .disabled > a:hover,
		  .navbar-white .navbar-nav .open .dropdown-menu > .disabled > a:focus {
		    color: #444;
		    background-color: transparent;
		  }
		}
		.navbar-white .navbar-link {
		  color: #9d9d9d;
		}
		.navbar-white .navbar-link:hover {
		  color: #000000;
		}
		.navbar-white .btn-link {
		  color: #9d9d9d;
		}
		.navbar-white .btn-link:hover,
		.navbar-white .btn-link:focus {
		  color: #000000;
		}
		.navbar-white .btn-link[disabled]:hover,
		fieldset[disabled] .navbar-white .btn-link:hover,
		.navbar-white .btn-link[disabled]:focus,
		fieldset[disabled] .navbar-white .btn-link:focus {
		  color: #444;
		}



		
		.icon-logo::before{
			content: "\e93e";
			font-size: 44px;
			color:#1B1B1B;
		}

		.icon-icon::before{
			content: "\e920";
			font-size: 50px;
			color: #F10505;
		}

		.nav .navbar-nav li{
			line-height: 40px;
			height: 40px;
		}
		.navbar-nav > li > a{
			line-height: 40px


		}
		.height75{
			height:75px;
		}
		.margin0{
			margin-bottom:0;
		}







/*ÃƒÆ’Ã‚Â¨Ãƒâ€šÃ‚Â½Ãƒâ€šÃ‚Â®ÃƒÆ’Ã‚Â¦ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢Ãƒâ€šÃ‚Â­ÃƒÆ’Ã‚Â¥ÃƒÂ¢Ã¢â€šÂ¬Ã‚ÂºÃƒâ€šÃ‚Â¾*/


@media(min-width: 768px){
	.carousel-inner>.item{
	height: 410px;
	background-position: center center;
	background-size:cover;
}
	#ad{
		height: 410px
	}

}
.carousel-inner>.item{
	background-position: center center;
	background-size:cover;
}




/*  chanpin zhanshi */




@media(min-width: 768px){
	#about .pull-right{
	position: relative;
	left: -110px;
}
}
@media(min-width: 992px){
	#about .pull-right{
	position: relative;
	left: -70px;
}
}
@media(min-width: 1200px){
	#about .pull-right{
	position: relative;
	left: -130px;
}
}



.icon-uniE907::before {
    content: "\e907";
}

.icon-uniE907{
	font-size: 37px;
}


#about .container .media a{
	text-decoration: none;
}


#about .container .media:first-child{
	margin-top: 15px;
}

#about{
	margin-top:50px;
}


.ljyy{
height: 60px;
width: 100%;
border-top: 1px solid #CACACA;
border-bottom: 1px solid #CACACA;
margin-top: 80px;
}


.icon-uniE906:before {
    content: "\e906";
}
.text-vcenter{
	line-height: 60px;
}

.red{
	color: #F63737;
}

.border-dash{
	border-bottom: dashed red 1px;
	cursor: pointer;
}


.icon-uniE905:before {
    content: "\e905";
}


.nav-dudu{
	padding-top: 50px;
	font-size: 16px;
}
.nav-tabs > li.active > a, 
.nav-tabs > li.active > a:hover, 
.nav-tabs > li.active > a:focus{
	color: #373737;
    cursor: default;
    background-color: #ffffff;
    border: 1px solid transparent;
    border-bottom-color: transparent;
}

.nav-tabs > li> a, 
.nav-tabs > li > a:hover, 
.nav-tabs > li > a:focus{
    cursor: default;
    background-color: transparent;
    border: 1px solid transparent;
    border-bottom-color: transparent;
}
.nav-dudu {
  border-bottom: 1px solid #E9E9E9;
}
.nav-dudu > li {
  float: left;
  margin-bottom: -1px;
}
.nav-dudu > li > a {
  margin-right: 2px;
  line-height: 1.42857143;
  border-radius: 4px 4px 0 0;
}
.nav-dudu > li > a:hover {
	color: #636363;
	background-color: transparent;
}
.nav-dudu > li.active > a,
.nav-dudu > li.active > a:hover,
.nav-dudu > li.active > a:focus {
  color: #555;
  cursor: default;
  background-color: transparent;
  border-bottom : 3px solid #EA4949;
}
.nav-dudu.nav-justified {
  width: 100%;
  border-bottom: 0;
}
.nav-dudu.nav-justified > li {
  float: none;
}
.nav-dudu.nav-justified > li > a {
  margin-bottom: 5px;
  text-align: center;
}
.nav-dudu.nav-justified > .dropdown .dropdown-menu {
  top: auto;
  left: auto;
}
@media (min-width: 768px) {
  .nav-dudu.nav-justified > li {
    display: table-cell;
    width: 1%;
  }
  .nav-dudu.nav-justified > li > a {
    margin-bottom: 0;
  }
}
.nav-dudu.nav-justified > li > a {
  margin-right: 0;
  border-radius: 4px;
}
.nav-dudu.nav-justified > .active > a,
.nav-dudu.nav-justified > .active > a:hover,
.nav-dudu.nav-justified > .active > a:focus {
  border: 0px solid transparent;
}
@media (min-width: 768px) {
  .nav-dudu.nav-justified > li > a {
    border-bottom: 1px solid transparent;
    border-radius: 4px 4px 0 0;
  }
  .nav-dudu.nav-justified > .active > a,
  .nav-dudu.nav-justified > .active > a:hover,
  .nav-dudu.nav-justified > .active > a:focus {
    border-bottom-color: transparent;
  }
}
.nav-pills > li {
  float: left;
}
.nav-pills > li > a {
  border-radius: 4px;
}
.nav-pills > li + li {
  margin-left: 2px;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: #fff;
  background-color:transparent;
}

.nav-pills > li> a,
.nav-pills > li > a:focus {
  color: #fff;
  background-color:transparent;
}
.nav-stacked > li {
  float: none;
}
.nav-stacked > li + li {
  margin-top: 2px;
  margin-left: 0;
}
.nav-justified {
  width: 100%;
}
.nav-justified > li {
  float: none;
}
.nav-justified > li > a {
  margin-bottom: 5px;
  text-align: center;
}
.nav-justified > .dropdown .dropdown-menu {
  top: auto;
  left: auto;
}
@media (min-width: 768px) {
  .nav-justified > li {
    display: table-cell;
    width: 1%;
  }
  .nav-justified > li > a {
    margin-bottom: 0;
  }
}
.nav-dudu-justified {
  border-bottom: 0;
}
.nav-dudu-justified > li > a {
  margin-right: 0;
  border-radius: 4px;
}
.nav-dudu-justified > .active > a,
.nav-dudu-justified > .active > a:hover,
.nav-dudu-justified > .active > a:focus {
  border: 1px solid transparent;
}
@media (min-width: 768px) {
  .nav-dudu-justified > li > a {
    border-bottom: 1px solid transparent;
    border-radius: 4px 4px 0 0;
  }
  .nav-dudu-justified > .active > a,
  .nav-dudu-justified > .active > a:hover,
  .nav-dudu-justified > .active > a:focus {
    border-bottom-color: transparent;
  }
}

#list{
	background-color: #F9F9F9;
}

#list > .piao{
	margin-top: 25px;
}

#list .piao .panel-default{
	padding-right: 15px;
	padding-left: 15px; 
	border: 0px;
	background-color: transparent;
}
#list > .piao .panel-heading{
	float:right;
	width: 120px;
	background-color: #e92322;
	border-left: dashed 1px gray;
	height: 100%;
	height: 150px;
	box-shadow: 0px 1px 1px #CBCBCB;
	border-left: 1px dashed gray;
	position: relative;
	padding-top: 48px;
	color: white;
}


#list > .piao .panel-heading .lilv{
	font-size: 34px;
}
#list > .piao .panel-heading::before,
#list > .piao .panel-heading::after{
	content: ' ';
	width: 16px;
	height: 16px;
	border-radius: 8px;
	position: absolute;
	background-color: #F9F9F9;
}

#list > .piao .panel-heading::before{
	left: -8px;
	top:-8px;
}

#list > .piao .panel-heading::after{
	left: -8px;
	bottom: -8px;
}

#list > .piao .panel-body{
	margin-right:120px;
	height: 150px;
	background-color: #e92322;
	
	color: #F8F8F8;
}

#list > .piao .panel-body p{
	margin: 0;
}

#list .piao .bgw .panel-heading,
#list .piao .bgw .panel-body{
	background-color: white;
	color:#575757;
}
#list .piao .bgg .panel-heading,
#list .piao .bgg .panel-body{
	background-color:#D7D7D7;
	color: #828282;
}



.icon-tiyan::before{
	content: "\e915";
	position: absolute;`
	color: #fff;
	font-size: 33px;
	font-weight: 100;
	top: -8px;
	left: 15px;
}

.icon-yuan::before{
	content:"\e926";
	position: absolute;
	left: 100px;
	font-size: 100px;
	font-weight: 100px;
	color:red;
	z-index: 100
}

#list > .piao .panel-heading .tooltips{
	position: absolute;
	font-size: 10px;
}

#jing{
	border: 1px solid red;
	color: red;
	padding:1px;
}

#hu{
	border:1px solid green;
	color: green;
	padding: 1px;
}




/*xinwen */

#news{
	height: 425px;
	padding-top: 70px;
	
}

#news .quanbuxinwen{
	font-size: 25px;
	border-bottom: 1px dashed #606060;
	padding: 10px;
	position: relative;
}

#news .quanbuxinwen::after{
	content: ' ';
	width: 10px;
	height: 10px;
	border-radius: 5px;
	background-color: white;
	border: 1px #8F8F8F solid;
	position: absolute;
	right: -5px;
	bottom: -5px;
}

.icon-news01::before{
	content: "\e90e";
	font-size: 28px;

}

.icon-news02:before {
    content: "\e90f";
    font-size: 28px;
}

.icon-news03:before {
    content: "\e910";
    font-size: 28px;
}

.icon-news04:before{
	content: "\e911";
    font-size: 28px;
}

.nav-stacked > li {
  float: none;
}

.nav-stacked > li + li {
  margin-top: 2px;
  margin-left: 0;
}


.nav-news > li {
  float: none;
}
.nav-news > li > a {
  border-radius: 2000px;
  width: 60px;
  color: #BEBEBE;
  border: 1px solid gray;
  margin: 20px 0px;
  x
  background-color: white;
  background: white;
}
.nav-news > li + li {
  margin-left: 2px;
}
.nav-news > li.active > a,
.nav-news > li.active > a:focus {
  color: #FFFFFF;
  background-color: #428bca;
}
.nav-news > li.active > a:hover{
	color: #959595;
}

#news .line{
	border-left: 1px dashed gray;
	position: absolute;
	height: 100%;
	left:45px;
	top: 0;

}